* {
  margin: 0;
  padding: 0;
}
body {
  overflow-x: hidden;
}

html,
body,
div {
  font-size: 16px;
  font-family: initial;
} 


li {
  list-style: none;
  cursor: pointer;
}

body a {
  text-decoration: none;
}

/* Section header*/

.header-manu {
  width: 100%;
  height: 70px;
  background-color: black;
  z-index: 20;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 2px #f1de41ed solid;
}

.header-manu>h2 {
  width: 40%;
  padding-left: 5%;
}

#linked {
  width: 40%;
  color: #cecbcb;
  padding-left: 20px;
  font-family: cursive;
  word-spacing: 10px;
  line-height: 74px;
  z-index: 4;
  font-size: x-large;
}

#linked:hover {
  z-index: 2;
  color: #a71043;
  text-shadow: 0 0 2px rgb(138, 136, 136);
}


.header-manu ul {
  width: 40%;
  font-size: 17px;
  display: flex;
  height: 50px;
  justify-content: flex-end;
  margin: 0 auto;
  padding: 10px 20px;
  align-items: center;
}

.header-manu li {
  display: flex;
  padding: 0 25px;
}

.header-manu a {
  color: white;
  font-size: 15px;
  text-shadow: 0 0 2px rgb(138, 136, 136);
  transition: .5s;
  z-index: 4;
}

.header-manu a:hover {
  z-index: 1;
  color: #a71043;
  text-shadow: 0 0 2px rgb(138, 136, 136);
}

/* SECTION- under-headder */

section.under-headder {
  padding: 25% 10% 10%;
  min-height: 400px;
  margin: 0 auto;
  display: flex;
  flex-wrap: unset;
}

article.information {
  float: left;
  width: 55%;
  margin: 0 auto;
  padding: 10% 5% 5% 0;
}

article.main-photo {
  float: right;
  width: 35%;
  margin: 0 auto;
  max-height: 500px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  height: 100%;
  padding: 5% 0 5% 5%;
}

article.information h1,
article.information h2 {
  font-family: fantasy;
  text-shadow: 1px -2px 7px rgb(77, 126, 193);
  font-size: x-large;
  color: #707070;
}

article.information p {
  font-size: 17px;
  font-family: fantasy;
  color: #707070;
  text-shadow: 1px -2px 7px rgb(77, 126, 193);
}


#my-photo {
  background-image: url(../icons/logo.png);
  background-size: cover;
  width: 100%;
  height: auto;
  border: 7px #e1dacb solid;
  border-radius: 5px;
  margin: 0 auto;
  background-color: #e7edf1;
  min-width: 200px;
  min-height: 250px;
  background-repeat: no-repeat;
  max-width: max-content;
  background-position: bottom;
  display: flex;
}

/* SECTION PORTFOLIO*/

section.portf-information {
  background-color: #e2e8eccf;
  width: 100%;
  clear: both;
}

.portf-information-wrapper {
  padding: 5% 5%;
}

.project {
  background-color: #dde9f1;
  color: #585858;
  border: none;
  outline: none;
  cursor: pointer;
  padding-top: 35px;
  font-size: 32px;
  height: 50px;
  font-weight: initial;
  font-family: initial;
  word-spacing: 10px;
  letter-spacing: 2px;
  transition: .6s;
  transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
  text-align: center;
}


.projectcontent {
  background-color: #dde9f1;
  color: #484747;
  display: block;
  text-align: center;
  transition: .6s;
  transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
  padding: 0 20px;
}

.projectcontent>div {
  padding-top: 40px;
  width: 100%;
}

.portfolio-example-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.portfolio-example {
  width: 30%;
  height: auto;
  background-size: contain;
  transition: .6s;
  background-repeat: no-repeat;
  background-position: center;
  min-width: 295px;
  min-height: 200px;
  margin: 15px;
}

.portfolio-example> div {
  width: 100%;
  height: 200px;
  background-color: transparent;
  transition: color .5s;
  position: absolute;
  margin: 0;
  top: 0;
  left: 0;
  transition: .6s;
}

.first-example {
  background-image: url("../icons/first-progect.png");
  background-color: white;
}

.second-example {
  background-image: url("../icons/second-example.png");
  background-color: white;
}

.third-example {
  background-image: url("../icons/third-example.png");
  background-color: white;
}

.fourth-example {
  background-image: url("../icons/fourth-example.png");
  background-color: white;
}

.five-example {
background-image: url("../icons/icon-vue-js.png");
background-color: white;
}

li.portfolio-example:hover {
  background-color: white;
  box-shadow:0 3px 20px 0 rgba(31, 33, 43, 0.37);
  z-index: 3;
  position: relative;
}

li.portfolio-example:hover > div {
  display: block;
  background-color: white;
  z-index: 5;
}

.portfolio-example:hover #example-btn {
  display: block;
  z-index: 5;
}

#example-btn {
  font-size: 20px;
  color: #5a5a5a;
  border: 2px #da336c solid;
  padding: 12px 20px;
  cursor: pointer;
  transition-delay: .2s;
  text-decoration: none;
  display: none;
  background-color: white;
  top: 85px;
  width: 120px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  right: 0;
  left: 0;
  transition: .6s;
}

#example-btn:hover {
  background-color: #da336c;
  color: white;
  transition: color .8s
}

/* FOOTER*/

footer {
  background-color: #2b2a2a;
  width: 100%;
  background-size: cover;
}

footer header {
/*  display: flex;
  justify-content: center;*/
}

.title {
  font-size: 30px;
  text-align: center;
  color: #2b2a2aeb;
  height: 80px;
  padding: 20px 0px 0px;
  font-weight: initial;
  font-family: initial;
  word-spacing: 10px;
  letter-spacing: 3px;
}

.contact-footer {
  color: white;
}

article.contact {
  width: 60%;
  height: auto;
  background-color: #ffffffe8;
  color: #cac5c5;
  border-radius: 5px;
  flex-wrap: wrap;
  display: flex;
}

#map{
  width: 50%;
  height:300px;
  margin: 15px;
}

.vcard {
  width: 50%;
  margin: 15px;
}

img.location {
  width: 16px;
  height: 16px;
  padding-right: 15px;
}

.footer-address, .phones, .email {
  line-height: 2.1;
  word-spacing: 5px;
}

.footer-address a, .phones a, .email a {
  color: #545353;
  font-size: 20px;
}

.footer-address a:hover, .phones a:hover, .email a:hover {
  color: #a71043;
  z-index: 3;
}

.wright-some-letter {
  display: none;
  text-align: center;
  transition: .8s;
}

.email a:hover .wright-some-letter {
  display: flex;
}



@media only screen and (max-width: 600px) { 
  .header-manu li {
    color: gray;
    padding: 10px 20px;
    width: 125px;
    height: 25px;
    background-color: #c0d1e9;
    border-color: #cad7ec;
    border-style: solid;
    border-width: thin;
  }
  article.main-photo {
    width: 100%;
    padding-left: 0;
  }
section.under-headder {
    display: flex;
    justify-content: space-around;
    flex-flow: column-reverse;
  }
  article.contact {
    width: 90%;
    margin: 0 auto;

  }
  .vcard {
    width: 90%;
    height: 300%;
  }
  #map {
    width: 90%;
    height: 300px;
  }
}


@media only screen and (min-width: 600px) {
  article.contact {
    width: 85%;
    height: 650px;
  }
    .vcard{
      width: 100%;

    }
    #map {
      width: 100%;
    }
    article.information {
      width: auto;
    }
}

@media only screen and (max-width: 650px) {
  .header-manu{
    display: inline-block;
  }
  .header-manu>h2 {
    width: 100%;
  }
  .header-manu ul {
    display: none;
    flex-flow: column;
    float: center;

  }
    #map {
    width: 100%;
  }
  .vcard {
    width: 100%;
  }
    footer {
    width: 100%;
    height: 670px;
  }
}

@media only screen and (min-width: 768px) {
  .example {
    background: blue;
  }
    article.information {
    width: auto;
    padding: 5%;
  } 
} 

@media only screen and (min-width: 992px) {
  .example {
    background: orange;
  }

  article.information {
    width: 50%;
    padding-right: 5%;
  } 
}
@media only screen and (min-width: 1200px) {

}
