* {
  margin: 0;
  padding: 0;
}

html,
body,
div {
  font-size: 16px;
  font-family: sans-serif;
}


li {
  list-style: none;
  cursor: pointer;
}

body a {
  text-decoration: none;
}

/* Section header*/

.header {
  background-color: white;
  height: 700px;
  width: 100%;
z-index: 3;
}

.manu {
  width: 100%;
  height: 60px;
  background-color: black;
  z-index: 20;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 2px #f1de41ed solid;
}

.manu h2 {
  width: 40%;
  color: gray;
  font-size: 27px;
  padding-left: 20px;
  font-family: cursive;
  word-spacing: 10px;
  font-size: 29px;
  line-height: 74px;
  z-index: 4;
}


.manu ul {
  width: 40%;
  font-size: 17px;
  display: flex;
  height: 50px;
  justify-content: space-between;
  margin: 0 auto;
  padding: 10px 20px;
  align-items: center;
}

.manu li {
  display: flex;
}

article.manu a {
  color: white;
  font-size: 15px;
  text-shadow: 0 0 2px rgb(138, 136, 136);
  transition: .5s;
}

article.manu a:hover {
  z-index: 1;
  color: #a71043;
  text-shadow: 0 0 2px rgb(138, 136, 136);
}

.about-me ul {
  display: flex;
}

.about-me li {
  text-align: center;
  width: 50%;
  height: 540px;
}

li.information {
  display: flex;
  justify-content: center;
  align-items: center;


}

li.information div {
  font-family: fantasy;
  text-shadow: 1px -2px 7px rgb(77, 126, 193);
  font-size: x-large;
  color: #707070;
}

.main-photo {
  margin-top: 120px;
}

#my-photo {
  background-image: url('../icons/logo.png');
  background-size: cover;
  width: 380px;
  height: 450px;
  border: 10px #e1dacb solid;
  border-radius: 5px;
}

/* SECTION PORTFOLIO*/

section.portf-information {
  background-color: #e2e8eccf;
  height: 900px;
  width: 100%;
}

.portf-information-wrapper {
  padding: 5% 10%;
  height: 810px;
}

.tablink {
  background-color: #dde9f1;
  color: #585858;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 30px;
  width: 50%;
  height: 100px;
  font-weight: initial;
  font-family: initial;
  word-spacing: 10px;
  letter-spacing: 2px;
  transition: .8s;
  transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
}

.tablink:hover {
  background-color: #c1d3de;
  color: slategray;
}

.tabcontent {
  color: #484747;
  display: none;
  padding: 100px 50px 10px 50px;
  text-align: center;
  height: 650px;
  transition-timing-function: ease-in-out;
}

#about-me, 
#portfolio {
  background-color:#c7ddec;
}

.tabcontent>div {
  padding-top: 50px;
  width: 100%;
}

.portfolio-example-wrapper {
  width: 100%;
  display: flex;
  height: 560px;
  justify-content: space-around;
}

li.portfolio-example {
  width: 30%;
  height: 220px;
  background-size: cover;

}

.first-example {
  background-image: url("../icons/first-progect.png");
}

.second-example {
  background-image: url("../icons/second-example.png");
}

.third-example {
  background-color: white;
}

.first-example-hover {
  display: none;
  margin: 0 auto;
  text-align: center;
  background-color: white;
}

.portfolio-example:hover .first-example-hover {
  display: block;
  background-color: white;
  height: 220px;
  box-shadow:0 3px 20px 0 rgba(31, 33, 43, 0.37);
  z-index: 3;
  background-image: none;
  transition: 1s;
}

.first-example-hover button {
  font-size: 20px;
  color: #5a5a5a;
  border: 2px #da336c solid;
  padding: 12px 20px;
  cursor: pointer;
  transition: .8s;
  margin-top: 124px;
  transition-delay: .4s;
}

.first-example-hover button:hover {
  background-color: #da336c;
  color: white;
}

/* FOOTER*/

footer {
  background-color: #2b2a2a;
  height: 530px;
  width: 100%;
  background-size: cover;
}

footer header {
  display: flex;
  justify-content: space-evenly;
}

.title {
  font-size: 30px;
  text-align: center;
  color: #2b2a2aeb;
  height: 90px;
  padding: 20px 10px 10px;
  font-weight: initial;
  font-family: initial;
  word-spacing: 10px;
  letter-spacing: 3px;
}

.contact-footer {
  color: white;
}

article.contact {
  width: 60%;
  height: 350px;
  background-color: #ffffffe8;
  color: #cac5c5;
  border-radius: 5px;
  position: relative;
  display: flex;
}

.map {
  width: 45%;
  right: 50%;
  top: 12%;
  position: absolute;
}

.vcard {
  position: absolute;
  top: 20%;
  right: 9%;
  width: 50%;
}

img.location {
  width: 16px;
  height: 16px;
  padding-right: 15px;
}

.footer-address, .phones, .email {
  line-height: 2.1;
  word-spacing: 5px;
}

.footer-address a, .phones a, .email a {
  color: #545353;
  font-size: 20px;
}

.footer-address a:hover, .phones a:hover, .email a:hover {
  color: #a71043;
  z-index: 3;
}

.wright-some-letter {
  display: none;
  text-align: center;
  transition: .8s;
}

.email:hover .wright-some-letter {
  display: flex;
}
