@font-face {
    font-family: 'ubunturegular';
    src: url('../font/ubuntu/ubuntu-regular-webfont.woff2') format('woff2'),
         url('../font/ubuntu/ubuntu-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ubuntubold';
    src: url('../font/ubuntu/ubuntu-bold-webfont.woff2') format('woff2'),
         url('../font/ubuntu/ubuntu-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'rubiklight';
    src: url('../font/rubik/rubik-light-webfont.woff2') format('woff2'),
         url('../font/rubik/rubik-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'rubikregular';
    src: url('../font/rubik/rubik-regular-webfont.woff2') format('woff2'),
         url('../font/rubik/rubik-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'rubikbolditalic';
    src: url('../font/rubik/rubik-bolditalic-webfont.woff2') format('woff2'),
         url('../font/rubik/rubik-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'rubikbold';
    src: url('../font/rubik/rubik-bold-webfont.woff2') format('woff2'),
         url('../font/rubik/rubik-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


